server:
  port: 8080

spring:
  application:
    name: blog-novel-backend

  datasource:
    url: jdbc:mysql://${MYSQLHOST:localhost}:${MYSQLPORT:3306}/${MYSQLDATABASE:blog_novel_db}
    username: ${MYSQLUSER:bloguser}
    password: ${MYSQLPASSWORD:blogpass}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  data:
    redis:
      url: ${REDIS_URL:rediss://default:AZeNAAIncDI2YWE5YTMzODU3ZTk0N2JmOTQxMzhkZDI2NDI4MDg5YXAyMzg3OTc@apparent-moose-38797.upstash.io:6379}

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha

jwt:
  secret: "NPY2VabOYfb1NofHdR93JtKfPBwVVIUNSxOZRUc9FbM="
  expiration: 3600000

cloudinary:
  url: ${CLOUDINARY_URL:cloudinary://891526691911467:TnwTqA61t4ZiVvnWt8h0iQVZnII@ddoesja29}
